################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Farm-fund/obj
/Farm-fund/bin/Debug
/Farm-fund/bin/Release
